database.url = bronto.ewi.utwente.nl:5432
database.name = dab_di21222b_138
database.production_schema = visol_project
database.test_schema = visol_project_test
database.username = dab_di21222b_138
database.password = Password123
