@use "sass:math"

$nav-height: 40px
$berth-width: 300px
$berth-header-height: 70px
$timeline-width: 96px

$day-view-divider-height: 60px

$day-date-bg: #3D3D3D
$day-date-color: #FFF
$day-date-width: 23px
$day-hour-height: 24px
$day-hour-width: 64px
$day-height: $day-hour-height*24

.planner
	+relative
	margin: 0 auto $base-spacing

	&-header
		+flex(center)
		width: 100%
		margin-bottom: $base-spacing*3

		&-sub
			+flex(center)
			flex: 1

			&-in
				+flex(center)

				& > *:not(:last-child)
					margin-right: $base-spacing*3

			&:first-child > &-in
				margin-right: auto

			&:last-child > &-in
				margin-left: auto

		&-date
			font-size: 18px
			font-weight: 600
			padding: 0 $base-spacing*4
			margin: 0

	&-schedule
		display: flex
		max-height: 73vh
		overflow: scroll
		border: 1px solid $c-stroke
		border-radius: $border-radius

		&-in
			+size(auto ($day-view-divider-height*48 + $berth-header-height))
			+relative
			+flex(flex-start, flex-start)
			flex-shrink: 0

	&-schedule.view-day &
		&-timeline-divider
			+size(100% $day-view-divider-height)

	&-timeline
		padding-top: $berth-header-height
		flex-basis: $timeline-width
		flex-grow: 0
		flex-shrink: 0

		&-divider
			&-time
				text-align: right
				font-size: 12px
				color: #9CA8BA
				margin: 0
				padding-right: $base-spacing*3
				transform: translateY(-50%)

			&::before
				content: ""
				+absolute(null null null $timeline-width)
				+size(100% 1px)
				background-color: $c-stroke
				z-index: 1


	&-berths
		+size(auto 100%)
		+relative
		+flex(flex-start, flex-start)
		padding-top: $berth-header-height

		&-berth
			+relative
			+size(100%)
			min-width: $berth-width

			&-header
				+sticky(0 null null null)
				+size(100% $berth-header-height)
				border: 1px solid $c-stroke
				border-left: none
				border-top: none
				font-size: 18px
				text-align: center
				margin-top: -$berth-header-height + 1px
				margin-bottom: -1px
				background-color: $c-background
				z-index: 1

				&-info
					+flex()
					+size(100%)
					padding: $base-spacing*2

					&-name
						font-size: 14px
						font-weight: 600
						margin-left: $base-spacing*2

			&-ships
				+relative
				+size(100%)
				background-color: $c-background
				border-right: 1px solid $c-stroke

			&:first-child &-header
				border-left: 1px solid $c-stroke

			&:first-child &-ships
				border-left: 1px solid $c-stroke


