.vessel-card
	+flex(flex-start, flex-start)
	+relative()
	flex-wrap: wrap
	width: 100%
	height: 100%
	padding: $base-spacing * 2
	background-color: rgba($c-secondary, 0.5)
	backdrop-filter: blur(8px)
	z-index: 2
	border: none
	border-radius: $border-radius
	cursor: pointer

	&-info
		+flex(center, center)

		&-in
			padding-left: $base-spacing * 2

		&-heading
			font-weight: 600
			font-size: 12px
			margin: 0
			padding: 0

		&-description
			font-size: 10px

	&-footer
		align-self: flex-end

	&.view-automatic,
	&.view-manual
		color: $c-primary

	&.view-automatic &-info,
	&.view-manual &-info
		+sticky(($berth-header-height + 2*$base-spacing) null null null)

	&.view-unscheduled
		+flex(flex-start, flex-start)
		min-width: 200px
		max-width: 300px
		width: 15vw
		height: 70%
		color: $c-primary
		margin: 0 $base-spacing * 1.8

vessel-card
	+relative
	display: block




