openapi: 3.0.0
info:
    title: ViSOL
    description: Visual Interactive Optimization Tool. You can view this documentation over at [Apiary](https://visol.docs.apiary.io).
    contact: {}
    version: 1.0.0
servers:
    - url: https://todo.get-this.info/
      variables: {}
paths:
    /vessels:
        post:
            tags:
                - Vessels
            summary: Create a Vessel
            description: >-
                A Vessel object has the following attributes:
                
                
                + name: `BigBoatHan` (string) - The name of the Vessel.
                
                
                + arrival: `2022-05-11T13:10:00Z` (timestamp) - When the Vessel is expected to arrive.
                
                
                + deadline: `2022-05-12T09:54:00Z` (timestamp) - When the Vessel must be completely processed.
                
                
                + container_amount: `5` (integer) - The amount of containers on the Vessel to be unloaded.
                
                
                + cost: `2.6` (float) - The cost per time unit of the Vessel from arrival till fully unloaded.
                
                
                + destination_terminal: `3` (integer) - The terminal where the Vessel should be unloaded.
                
                
                + dimension - Physical dimensions of the Vessel.
                    + length: `30` (integer) - The length of the Vessel in metres.
                    + width: `10` (integer) - The width of the Vessel in metres.
                    + depth: `20` (integer) - The depth of the Vessel in metres.
            operationId: CreateaVessel
            parameters:
                - name: vessel_id
                  in: query
                  description: ID of the Vessel.
                  required: true
                  style: form
                  explode: true
                  schema:
                      $ref: '#/components/schemas/VesselID'
            requestBody:
                description: ''
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Vessel'
                        example:
                            name: Vessel 1
                            arrival: 2022-05-11T13:56:00Z
                            deadline: 2022-05-12T18:13:00Z
                            container_amount: 30
                            cost: 2.6
                            destination_terminal: 4
                            dimension:
                                length: 30
                                width: 10
                                depth: 30
                required: true
            responses:
                '201':
                    description: ''
                    headers:
                        Location:
                            content:
                                text/plain:
                                    schema:
                                        type: string
                                        example: /vessels/3
                                    example: /vessels/3
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Vessel'
                            example:
                                name: Vessel 1
                                arrival: 2022-05-11T13:56:00Z
                                deadline: 2022-05-12T18:13:00Z
                                container_amount: 30
                                cost: 2.6
                                destination_terminal: 4
                                dimension:
                                    length: 30
                                    width: 10
                                    depth: 30
    /vessels/{vessel_id}:
        get:
            tags:
                - Vessels
            summary: Retrieve a Vessel
            description: >-
                A Vessel object has the following attributes:
                
                
                + name: `BigBoatHan` (string) - The name of the Vessel.
                
                
                + arrival: `2022-05-11T13:10:00Z` (timestamp) - When the Vessel is expected to arrive.
                
                
                + deadline: `2022-05-12T09:54:00Z` (timestamp) - When the Vessel must be completely processed.
                
                
                + container_amount: `5` (integer) - The amount of containers on the Vessel to be unloaded.
                
                
                + cost: `2.6` (float) - The cost per time unit of the Vessel from arrival till fully unloaded.
                
                
                + destination_terminal: `3` (integer) - The terminal where the Vessel should be unloaded.
                
                
                + dimension - Physical dimensions of the Vessel.
                    + length: `30` (integer) - The length of the Vessel in metres.
                    + width: `10` (integer) - The width of the Vessel in metres.
                    + depth: `20` (integer) - The depth of the Vessel in metres.
            operationId: RetrieveaVessel
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Vessel'
                            example:
                                name: Vessel 1
                                arrival: 2022-05-11T13:56:00Z
                                deadline: 2022-05-12T18:13:00Z
                                container_amount: 30
                                cost: 2.6
                                destination_terminal: 4
                                dimension:
                                    length: 30
                                    width: 10
                                    depth: 30
                '404':
                    description: ''
                    headers: {}
                    content: {}
        put:
            tags:
                - Vessels
            summary: Replace a Vessel
            description: >-
                A Vessel object has the following attributes:
                
                
                + name: `BigBoatHan` (string) - The name of the Vessel.
                
                
                + arrival: `2022-05-11T13:10:00Z` (timestamp) - When the Vessel is expected to arrive.
                
                
                + deadline: `2022-05-12T09:54:00Z` (timestamp) - When the Vessel must be completely processed.
                
                
                + container_amount: `5` (integer) - The amount of containers on the Vessel to be unloaded.
                
                
                + cost: `2.6` (float) - The cost per time unit of the Vessel from arrival till fully unloaded.
                
                
                + destination_terminal: `3` (integer) - The terminal where the Vessel should be unloaded.
                
                
                + dimension - Physical dimensions of the Vessel.
                    + length: `30` (integer) - The length of the Vessel in metres.
                    + width: `10` (integer) - The width of the Vessel in metres.
                    + depth: `20` (integer) - The depth of the Vessel in metres.
            operationId: ReplaceaVessel
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
            requestBody:
                description: ''
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Vessel'
                        example:
                            name: Vessel 1
                            arrival: 2022-05-11T13:56:00Z
                            deadline: 2022-05-12T18:13:00Z
                            container_amount: 30
                            cost: 2.6
                            destination_terminal: 4
                            dimension:
                                length: 30
                                width: 10
                                depth: 30
                required: true
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Vessel'
                            example:
                                name: Vessel 1
                                arrival: 2022-05-11T13:56:00Z
                                deadline: 2022-05-12T18:13:00Z
                                container_amount: 30
                                cost: 2.6
                                destination_terminal: 4
                                dimension:
                                    length: 30
                                    width: 10
                                    depth: 30
                '404':
                    description: ''
                    headers: {}
                    content: {}
        delete:
            tags:
                - Vessels
            summary: Delete a Vessel
            description: >-
                A Vessel object has the following attributes:
                
                
                + name: `BigBoatHan` (string) - The name of the Vessel.
                
                
                + arrival: `2022-05-11T13:10:00Z` (timestamp) - When the Vessel is expected to arrive.
                
                
                + deadline: `2022-05-12T09:54:00Z` (timestamp) - When the Vessel must be completely processed.
                
                
                + container_amount: `5` (integer) - The amount of containers on the Vessel to be unloaded.
                
                
                + cost: `2.6` (float) - The cost per time unit of the Vessel from arrival till fully unloaded.
                
                
                + destination_terminal: `3` (integer) - The terminal where the Vessel should be unloaded.
                
                
                + dimension - Physical dimensions of the Vessel.
                    + length: `30` (integer) - The length of the Vessel in metres.
                    + width: `10` (integer) - The width of the Vessel in metres.
                    + depth: `20` (integer) - The depth of the Vessel in metres.
            operationId: DeleteaVessel
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
            responses:
                '204':
                    description: ''
                    headers: {}
                    content: {}
                '404':
                    description: ''
                    headers: {}
                    content: {}
    /vessels/{vessel_id}/schedule:
        get:
            tags:
                - Vessels
            summary: Retrieve a Vessel's Schedule
            description: >-
                A Schedule object has the following attributes:
                
                
                + vessel: `1` (integer) - ID of the Vessel.
                
                
                + type: `manual` (`manual` or `automatic`) - Whether the Vessel should be planned at the supplied Berth and timestamp or by the software, respectively.
                
                
                + berth: `20` (integer) - ID of the Berth the Vessel should be processed at.
                
                
                + start: `2022-05-12T07:23:00Z` (timestamp) - When the Vessel should start being processed.
                
                
                + end: `2022-05-13T21:41:00Z` (timestamp) - When the Vessel is expected to end being processed.
            operationId: RetrieveaVessel'sSchedule
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Schedule'
                            example:
                                vessel: 1
                                type: manual
                                berth: 30
                                start: 2022-05-11T16:32:00Z
                                end: 2022-05-11T21:26:00Z
                '404':
                    description: ''
                    headers: {}
                    content: {}
        put:
            tags:
                - Vessels
            summary: Replace or Create a Vessel's Schedule
            description: >-
                A Schedule object has the following attributes:
                
                
                + vessel: `1` (integer) - ID of the Vessel.
                
                
                + type: `manual` (`manual` or `automatic`) - Whether the Vessel should be planned at the supplied Berth and timestamp or by the software, respectively.
                
                
                + berth: `20` (integer) - ID of the Berth the Vessel should be processed at.
                
                
                + start: `2022-05-12T07:23:00Z` (timestamp) - When the Vessel should start being processed.
                
                
                + end: `2022-05-13T21:41:00Z` (timestamp) - When the Vessel is expected to end being processed.
            operationId: ReplaceorCreateaVessel'sSchedule
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
            requestBody:
                description: ''
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Schedule'
                        example:
                            vessel: 1
                            type: manual
                            berth: 30
                            start: 2022-05-11T16:32:00Z
                            end: 2022-05-11T21:26:00Z
                required: true
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Schedule'
                            example:
                                vessel: 1
                                type: manual
                                berth: 30
                                start: 2022-05-11T16:32:00Z
                                end: 2022-05-11T21:26:00Z
                '201':
                    description: ''
                    headers:
                        Location:
                            content:
                                text/plain:
                                    schema:
                                        type: string
                                        example: /vessels/1/schedule
                                    example: /vessels/1/schedule
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Schedule'
                            example:
                                vessel: 1
                                type: manual
                                berth: 30
                                start: 2022-05-11T16:32:00Z
                                end: 2022-05-11T21:26:00Z
                '404':
                    description: ''
                    headers: {}
                    content: {}
        delete:
            tags:
                - Vessels
            summary: Delete a Vessel's Schedule
            description: >-
                A Schedule object has the following attributes:
                
                
                + vessel: `1` (integer) - ID of the Vessel.
                
                
                + type: `manual` (`manual` or `automatic`) - Whether the Vessel should be planned at the supplied Berth and timestamp or by the software, respectively.
                
                
                + berth: `20` (integer) - ID of the Berth the Vessel should be processed at.
                
                
                + start: `2022-05-12T07:23:00Z` (timestamp) - When the Vessel should start being processed.
                
                
                + end: `2022-05-13T21:41:00Z` (timestamp) - When the Vessel is expected to end being processed.
            operationId: DeleteaVessel'sSchedule
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
            responses:
                '204':
                    description: ''
                    headers: {}
                    content: {}
                '404':
                    description: ''
                    headers: {}
                    content: {}
    /berths:
        post:
            tags:
                - Berths
            summary: Create a Berth
            description: >-
                A Berth object has the following attributes:
                
                
                + open_time: `06:45` (time) - The time at which the Berth starts processing.
                
                
                + close_time: `21:30` (time) - The time at which the Berth stops processing.
                
                
                + unload_speed: `6.3` (float) - The amount of containers per time unit the Berth can process.
                
                
                + dimension - Physical dimensions of the Berth.
                    + length: `150` (integer) - The length of the Berth in metres.
                    + width: `30` (integer) - The maximum length of Vessel in the Berth in metres.
                    + depth: `50` (integer) - The depth of the Berth in metres.
            operationId: CreateaBerth
            parameters:
                - name: berth_id
                  in: query
                  description: The id of the Berth.
                  required: true
                  style: form
                  explode: true
                  schema:
                      $ref: '#/components/schemas/BerthID'
            requestBody:
                description: ''
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Berth'
                required: true
            responses:
                '201':
                    description: ''
                    headers:
                        Location:
                            content:
                                text/plain:
                                    schema:
                                        type: string
                                        example: /berths/3
                                    example: /berths/3
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Berth'
                            example:
                                open_time: 06:45
                                close_time: 21:30
                                unload_speed: 6.3
                                dimension:
                                    length: 150
                                    width: 30
                                    depth: 50
    /berths/{berth_id}:
        get:
            tags:
                - Berths
            summary: Retrieve a Berth
            description: >-
                A Berth object has the following attributes:
                
                
                + open_time: `06:45` (time) - The time at which the Berth starts processing.
                
                
                + close_time: `21:30` (time) - The time at which the Berth stops processing.
                
                
                + unload_speed: `6.3` (float) - The amount of containers per time unit the Berth can process.
                
                
                + dimension - Physical dimensions of the Berth.
                    + length: `150` (integer) - The length of the Berth in metres.
                    + width: `30` (integer) - The maximum length of Vessel in the Berth in metres.
                    + depth: `50` (integer) - The depth of the Berth in metres.
            operationId: RetrieveaBerth
            parameters:
                - name: berth_id
                  in: path
                  description: The id of the Berth.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/BerthID'
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Berth'
                            example:
                                open_time: 06:45
                                close_time: 21:30
                                unload_speed: 6.3
                                dimension:
                                    length: 150
                                    width: 30
                                    depth: 50
                '404':
                    description: ''
                    headers: {}
                    content: {}
        put:
            tags:
                - Berths
            summary: Replace a Berth
            description: >-
                A Berth object has the following attributes:
                
                
                + open_time: `06:45` (time) - The time at which the Berth starts processing.
                
                
                + close_time: `21:30` (time) - The time at which the Berth stops processing.
                
                
                + unload_speed: `6.3` (float) - The amount of containers per time unit the Berth can process.
                
                
                + dimension - Physical dimensions of the Berth.
                    + length: `150` (integer) - The length of the Berth in metres.
                    + width: `30` (integer) - The maximum length of Vessel in the Berth in metres.
                    + depth: `50` (integer) - The depth of the Berth in metres.
            operationId: ReplaceaBerth
            parameters:
                - name: berth_id
                  in: path
                  description: The id of the Berth.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/BerthID'
            requestBody:
                description: ''
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Berth'
                        example:
                            open_time: 06:45
                            close_time: 21:30
                            unload_speed: 6.3
                            dimension:
                                length: 150
                                width: 30
                                depth: 50
                required: true
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Berth'
                            example:
                                open_time: 06:45
                                close_time: 21:30
                                unload_speed: 6.3
                                dimension:
                                    length: 150
                                    width: 30
                                    depth: 50
                '404':
                    description: ''
                    headers: {}
                    content: {}
        delete:
            tags:
                - Berths
            summary: Delete a Berth
            description: >-
                A Berth object has the following attributes:
                
                
                + open_time: `06:45` (time) - The time at which the Berth starts processing.
                
                
                + close_time: `21:30` (time) - The time at which the Berth stops processing.
                
                
                + unload_speed: `6.3` (float) - The amount of containers per time unit the Berth can process.
                
                
                + dimension - Physical dimensions of the Berth.
                    + length: `150` (integer) - The length of the Berth in metres.
                    + width: `30` (integer) - The maximum length of Vessel in the Berth in metres.
                    + depth: `50` (integer) - The depth of the Berth in metres.
            operationId: DeleteaBerth
            parameters:
                - name: berth_id
                  in: path
                  description: The id of the Berth.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/BerthID'
            responses:
                '204':
                    description: ''
                    headers: {}
                    content: {}
                '404':
                    description: ''
                    headers: {}
                    content: {}
    /berths/{berth_id}/schedules:
        get:
            tags:
                - Berths
            summary: Retrieve a Berth's Schedules
            description: >-
                A Berth object has the following attributes:
                
                
                + open_time: `06:45` (time) - The time at which the Berth starts processing.
                
                
                + close_time: `21:30` (time) - The time at which the Berth stops processing.
                
                
                + unload_speed: `6.3` (float) - The amount of containers per time unit the Berth can process.
                
                
                + dimension - Physical dimensions of the Berth.
                    + length: `150` (integer) - The length of the Berth in metres.
                    + width: `30` (integer) - The maximum length of Vessel in the Berth in metres.
                    + depth: `50` (integer) - The depth of the Berth in metres.
            operationId: RetrieveaBerth'sSchedules
            parameters:
                - name: berth_id
                  in: path
                  description: The id of the Berth.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/BerthID'
                - name: from
                  in: query
                  description: Time to start looking from
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T14:24:00Z
                - name: to
                  in: query
                  description: Time to end looking at
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-12T14:24:00Z
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BerthSchedules'
                            example:
                                - vessel: 1
                                  type: manual
                                  berth: 30
                                  start: 2022-05-11T16:32:00Z
                                  end: 2022-05-11T21:26:00Z
                                - vessel: 2
                                  type: automatic
                                  berth: 30
                                  start: 2022-05-14T09:21:00Z
                                  end: 2022-05-15T13:53:00Z
    /terminals:
        post:
            tags:
                - Terminals
            summary: Create a Terminal
            description: >-
                A Terminal object has the following attributes:
                
                
                + name: `Han & Co. Ltd.` (string) - The name of the Terminal.
            operationId: CreateaTerminal
            parameters:
                - name: terminal_id
                  in: query
                  description: ID of the Terminal.
                  required: true
                  style: form
                  explode: true
                  schema:
                      $ref: '#/components/schemas/TerminalID'
            requestBody:
                description: ''
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Terminal'
                        example:
                            name: Han & Co. Ltd.
                required: true
            responses:
                '201':
                    description: ''
                    headers:
                        Location:
                            content:
                                text/plain:
                                    schema:
                                        type: string
                                        example: /terminals/1
                                    example: /terminals/1
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Terminal'
                            example:
                                name: Han & Co. Ltd.
    /terminals/{terminal_id}:
        get:
            tags:
                - Terminals
            summary: Retrieve a Terminal
            description: >-
                A Terminal object has the following attributes:
                
                
                + name: `Han & Co. Ltd.` (string) - The name of the Terminal.
            operationId: RetrieveaTerminal
            parameters:
                - name: terminal_id
                  in: path
                  description: ID of the Terminal.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/TerminalID'
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Terminal'
                            example:
                                name: Han & Co. Ltd.
                '404':
                    description: ''
                    headers: {}
                    content: {}
        put:
            tags:
                - Terminals
            summary: Replace a Terminal
            description: >-
                A Terminal object has the following attributes:
                
                
                + name: `Han & Co. Ltd.` (string) - The name of the Terminal.
            operationId: ReplaceaTerminal
            parameters:
                - name: terminal_id
                  in: path
                  description: ID of the Terminal.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/TerminalID'
            requestBody:
                description: ''
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Terminal'
                        example:
                            name: Han & Co. Ltd.
                required: true
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Terminal'
                            example:
                                name: Han & Co. Ltd.
                '404':
                    description: ''
                    headers: {}
                    content: {}
        delete:
            tags:
                - Terminals
            summary: Delete a Terminal
            description: >-
                A Terminal object has the following attributes:
                
                
                + name: `Han & Co. Ltd.` (string) - The name of the Terminal.
            operationId: DeleteaTerminal
            parameters:
                - name: terminal_id
                  in: path
                  description: ID of the Terminal.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/TerminalID'
            responses:
                '204':
                    description: ''
                    headers: {}
                    content: {}
                '404':
                    description: ''
                    headers: {}
                    content: {}
    /terminal/{terminal_id}/berths:
        get:
            tags:
                - Terminals
            summary: Retrieve a Terminal's Berths
            description: >-
                A Terminal object has the following attributes:
                
                
                + name: `Han & Co. Ltd.` (string) - The name of the Terminal.
            operationId: RetrieveaTerminal'sBerths
            parameters:
                - name: terminal_id
                  in: path
                  description: ID of the Terminal.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/TerminalID'
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BerthMap'
                            example:
                                '1':
                                    open_time: 06:45
                                    close_time: 21:30
                                    unload_speed: 6.3
                                    dimension:
                                        length: 150
                                        width: 30
                                        depth: 50
                                '2':
                                    open_time: 08:30
                                    close_time: 19:15
                                    unload_speed: 2.7
                                    dimension:
                                        length: 60
                                        width: 20
                                        depth: 30
                '404':
                    description: ''
                    headers: {}
                    content: {}
    /terminals/{terminal_id}/schedules:
        get:
            tags:
                - Terminals
            summary: Retrieve a Terminal's Schedules
            description: >-
                A Terminal object has the following attributes:
                
                
                + name: `Han & Co. Ltd.` (string) - The name of the Terminal.
            operationId: RetrieveaTerminal'sSchedules
            parameters:
                - name: terminal_id
                  in: path
                  description: ID of the Terminal.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/TerminalID'
                - name: from
                  in: query
                  description: Time to start looking from
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T14:24:00Z
                - name: to
                  in: query
                  description: Time to end looking at
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-12T14:24:00Z
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TerminalSchedules'
    /terminals/{terminal_id}/schedules/optimise:
        post:
            tags:
                - Terminals
            summary: Optimise a Terminal's Schedules
            description: >-
                A Terminal object has the following attributes:
                
                
                + name: `Han & Co. Ltd.` (string) - The name of the Terminal.The response contains an array of all Schedules that were changed, grouped by Berth.
            operationId: OptimiseaTerminal'sSchedules
            parameters:
                - name: terminal_id
                  in: path
                  description: ID of the Terminal.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/TerminalID'
                - name: from
                  in: query
                  description: Time to start calculating from
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T14:24:00Z
                - name: to
                  in: query
                  description: Time to end calculating at
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-12T14:24:00Z
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TerminalSchedules'
    /terminals/{terminal_id}/performance:
        get:
            tags:
                - Terminals
            summary: Calculate a Terminal's Perfomance
            description: >-
                A Terminal object has the following attributes:
                
                
                + name: `Han & Co. Ltd.` (string) - The name of the Terminal.
            operationId: CalculateaTerminal'sPerfomance
            parameters:
                - name: terminal_id
                  in: path
                  description: ID of the Terminal.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/TerminalID'
                - name: from
                  in: query
                  description: Time to start calculating from
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T14:24:00Z
                - name: to
                  in: query
                  description: Time to end calculating at
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-12T14:24:00Z
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Performance'
                            example:
                                cost: 263
                                scheduled_vessels: 13
                                unscheduled_vessels: 14
    /ports:
        post:
            tags:
                - Ports
            summary: Create a Port
            description: >-
                A Port object has the following attributes:
                
                
                + name: `Han Shipping` (string) - The name of the Port.
            operationId: CreateaPort
            requestBody:
                description: ''
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Port'
                        example:
                            name: Han Shipping
                required: true
            responses:
                '201':
                    description: ''
                    headers:
                        Location:
                            content:
                                text/plain:
                                    schema:
                                        type: string
                                        example: /ports/1
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Port'
        get:
            tags:
                - Ports
            summary: Retrieve all Ports
            description: ''
            operationId: RetrieveallPorts
            parameters: []
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PortMap'
    /ports/{port_id}:
        get:
            tags:
                - Ports
            summary: Retrieve a Port
            description: >-
                A Port object has the following attributes:
                
                
                + name: `Han Shipping` (string) - The name of the Port.
            operationId: RetrieveaPort
            parameters:
                - name: port_id
                  in: path
                  description: ID of the Port.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/PortID'
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Port'
                            example:
                                name: Han Shipping
                '404':
                    description: ''
                    headers: {}
                    content: {}
        put:
            tags:
                - Ports
            summary: Replace a Port
            description: >-
                A Port object has the following attributes:
                
                
                + name: `Han Shipping` (string) - The name of the Port.
            operationId: ReplaceaPort
            parameters:
                - name: port_id
                  in: path
                  description: ID of the Port.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/PortID'
            requestBody:
                description: ''
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Port'
                        example:
                            name: Han Shipping
                required: true
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Port'
                            example:
                                name: Han Shipping
                '404':
                    description: ''
                    headers: {}
                    content: {}
        delete:
            tags:
                - Ports
            summary: Delete a Port
            description: >-
                A Port object has the following attributes:
                
                
                + name: `Han Shipping` (string) - The name of the Port.
            operationId: DeleteaPort
            parameters:
                - name: port_id
                  in: path
                  description: ID of the Port.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/PortID'
            responses:
                '204':
                    description: ''
                    headers: {}
                    content: {}
                '404':
                    description: ''
                    headers: {}
                    content: {}
    /ports/{port_id}/terminals:
        get:
            tags:
                - Ports
            summary: Retrieve a Port's Terminals
            description: >-
                A Port object has the following attributes:
                
                
                + name: `Han Shipping` (string) - The name of the Port.
            operationId: RetrieveaPort'sTerminals
            parameters:
                - name: port_id
                  in: path
                  description: ID of the Port.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/PortID'
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TerminalMap'
                            example:
                                '1':
                                    name: Han & Co. Ltd.
                                '2':
                                    name: Bui Buoys
                '404':
                    description: ''
                    headers: {}
                    content: {}
    /ports/{port_id}/schedules:
        get:
            tags:
                - Ports
            summary: Retrieve a Port's Schedules
            description: >-
                A Port object has the following attributes:
                
                
                + name: `Han Shipping` (string) - The name of the Port.
            operationId: RetrieveaPort'sSchedules
            parameters:
                - name: port_id
                  in: path
                  description: ID of the Port.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/PortID'
                - name: from
                  in: query
                  description: Time to start looking from
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T14:24:00Z
                - name: to
                  in: query
                  description: Time to end looking at
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-12T14:24:00Z
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PortSchedules'
    /ports/{port_id}/performance:
        get:
            tags:
                - Ports
            summary: Calculate a Port's Perfomance
            description: >-
                A Port object has the following attributes:
                
                
                + name: `Han Shipping` (string) - The name of the Port.
            operationId: CalculateaPort'sPerfomance
            parameters:
                - name: port_id
                  in: path
                  description: ID of the Port.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/PortID'
                - name: from
                  in: query
                  description: Time to start calculating from
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T14:24:00Z
                - name: to
                  in: query
                  description: Time to end calculating at
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-12T14:24:00Z
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Performance'
                            example:
                                cost: 5152
                                scheduled_vessels: 27
                                unscheduled_vessels: 14
    /changes/vessels/{vessel_id}:
        post:
            tags:
                - Changes
            summary: Create a Vessel's Change
            description: Changes about a Vessel's information.
            operationId: CreateaVessel'sChange
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
            requestBody:
                description: ''
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/NewVesselChange'
                        example:
                            date: 2022-05-11T16:32:35Z
                            changes:
                                name: New Vessel 1
                                container_amount: 40
                            reason: Additional cargo (#2524)
                required: true
            responses:
                '201':
                    description: ''
                    headers:
                        Location:
                            content:
                                text/plain:
                                    schema:
                                        type: string
                                        example: /changes/vessels/30/2022-05-11T16:32:35Z
                                    example: /changes/vessels/30/2022-05-11T16:32:35Z
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VesselChange'
                            example:
                                vessel: 30
                                date: 2022-05-11T16:32:35Z
                                old:
                                    name: Vessel 1
                                    container_amount: 30
                                new:
                                    name: New Vessel 1
                                    container_amount: 40
                                reason: Additional cargo (#2524)
        get:
            tags:
                - Changes
            summary: Retrieve a Vessel's Changes
            description: Changes about a Vessel's information.
            operationId: RetrieveaVessel'sChanges
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
                - name: from
                  in: query
                  description: Time to start looking from
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T14:24:00Z
                - name: to
                  in: query
                  description: Time to end looking at
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-12T14:24:00Z
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VesselChanges'
        delete:
            tags:
                - Changes
            summary: Delete a Vessel's Changes
            description: Changes about a Vessel's information.
            operationId: DeleteaVessel'sChanges
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
                - name: from
                  in: query
                  description: Time to start deleting from
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T14:24:00Z
                - name: to
                  in: query
                  description: Time to end deleting at
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-12T14:24:00Z
            responses:
                '204':
                    description: ''
                    headers: {}
                    content: {}
                '404':
                    description: ''
                    headers: {}
                    content: {}
    /changes/vessels:
        get:
            tags:
                - Changes
            summary: Retrieve all Vessels' Changes
            description: Changes about a Vessel's information.
            operationId: RetrieveallVessels'Changes
            parameters:
                - name: from
                  in: query
                  description: Time to start looking from
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T14:24:00Z
                - name: to
                  in: query
                  description: Time to end looking at
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-12T14:24:00Z
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VesselChangesMap'
    /changes/vessels/{vessel_id}/{date}:
        get:
            tags:
                - Changes
            summary: Retrieve a Vessel's Change
            description: Changes about a Vessel's information.
            operationId: RetrieveaVessel'sChange
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
                - name: date
                  in: path
                  description: Time at which the change was made. Can be formatted without colons and dashes.
                  required: true
                  style: simple
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T16:32:35Z
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VesselChange'
        delete:
            tags:
                - Changes
            summary: Delete a Vessel's Change
            description: Changes about a Vessel's information.
            operationId: DeleteaVessel'sChange
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
                - name: date
                  in: path
                  description: Time at which the change was made. Can be formatted without colons and dashes.
                  required: true
                  style: simple
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T16:32:35Z
            responses:
                '204':
                    description: ''
                    headers: {}
                    content: {}
                '404':
                    description: ''
                    headers: {}
                    content: {}
    /changes/schedules/{vessel_id}:
        post:
            tags:
                - Changes
            summary: Create a Schedule's Change
            description: Changes about a Vessel's Schedule.
            operationId: CreateaSchedule'sChange
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel which's Schedule should be changed.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
            requestBody:
                description: ''
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/NewScheduleChange'
                        example:
                            date: 2022-05-11T16:32:35Z
                            changes:
                                type: automatic
                            reason: Turn on automatic scheduling
                required: true
            responses:
                '201':
                    description: ''
                    headers:
                        Location:
                            content:
                                text/plain:
                                    schema:
                                        type: string
                                        example: /changes/schedules/30/2022-05-11T16:32:35Z
                                    example: /changes/schedules/30/2022-05-11T16:32:35Z
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ScheduleChange'
                            example:
                                vessel: 30
                                date: 2022-05-11T16:32:35Z
                                old:
                                    type: manual
                                new:
                                    type: automatic
                                reason: Turn on automatic scheduling
        get:
            tags:
                - Changes
            summary: Retrieve all Schedule's Changes
            description: Changes about a Vessel's Schedule.
            operationId: RetrieveallSchedule'sChanges1
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel which's Schedule should be changed.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
                - name: from
                  in: query
                  description: Time to start looking from
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T14:24:00Z
                - name: to
                  in: query
                  description: Time to end looking at
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-12T14:24:00Z
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/ScheduleChange'
                                uniqueItems: true
                                description: ''
                                example:
                                    - vessel: 30
                                      date: 2022-05-11T16:32:35Z
                                      old:
                                          type: manual
                                      new:
                                          type: automatic
                                      reason: Turn on automatic scheduling
                                    - vessel: 30
                                      date: 2022-05-11T21:26:24Z
                                      old:
                                          berth: 20
                                          start: 2022-05-15T16:32:00Z
                                          end: 2022-05-15T21:26:00Z
                                      new:
                                          berth: 18
                                          start: 2022-05-09T10:24:00Z
                                          end: 2022-05-10T16:17:00Z
                                      reason: Automatic scheduling job
                            example:
                                - vessel: 30
                                  date: 2022-05-11T16:32:35Z
                                  old:
                                      type: manual
                                  new:
                                      type: automatic
                                  reason: Turn on automatic scheduling
                                - vessel: 30
                                  date: 2022-05-11T21:26:24Z
                                  old:
                                      berth: 20
                                      start: 2022-05-15T16:32:00Z
                                      end: 2022-05-15T21:26:00Z
                                  new:
                                      berth: 18
                                      start: 2022-05-09T10:24:00Z
                                      end: 2022-05-10T16:17:00Z
                                  reason: Automatic scheduling job
        delete:
            tags:
                - Changes
            summary: Delete a Schedule's Changes
            description: Changes about a Schedule's information.
            operationId: DeleteaSchedule'sChanges
            parameters:
                -   name: vessel_id
                    in: path
                    description: ID of the Vessel.
                    required: true
                    style: simple
                    schema:
                        $ref: '#/components/schemas/VesselID'
                -   name: from
                    in: query
                    description: Time to start deleting from
                    style: form
                    explode: true
                    schema:
                        type: string
                        format: date-time
                        # ISO 8601 RegEx excluding timezone
                        pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                        example: 2022-05-11T14:24:00Z
                -   name: to
                    in: query
                    description: Time to end deleting at
                    style: form
                    explode: true
                    schema:
                        type: string
                        format: date-time
                        # ISO 8601 RegEx excluding timezone
                        pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                        example: 2022-05-12T14:24:00Z
            responses:
                '204':
                    description: ''
                    headers: { }
                    content: { }
                '404':
                    description: ''
                    headers: { }
                    content: { }
    /changes/schedules:
        get:
            tags:
                - Changes
            summary: Retrieve all Schedules' Changes
            description: Changes about a Vessel's Schedule.
            operationId: RetrieveallSchedules'Changes
            parameters:
                - name: vessel_id
                  in: query
                  description: ID of the Vessel which's Schedule should be changed.
                  required: true
                  style: form
                  explode: true
                  schema:
                      $ref: '#/components/schemas/VesselID'
                - name: from
                  in: query
                  description: Time to start looking from
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T14:24:00Z
                - name: to
                  in: query
                  description: Time to end looking at
                  style: form
                  explode: true
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-12T14:24:00Z
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                type: object
                                additionalProperties:
                                    $ref: '#/components/schemas/ScheduleChange'
    /changes/schedules/{vessel_id}/{date}:
        get:
            tags:
                - Changes
            summary: Retrieve a Schedule's Change
            description: Changes about a Vessel's Schedule.
            operationId: RetrieveaSchedule'sChange
            parameters:
                - name: vessel_id
                  in: path
                  description: ID of the Vessel which's Schedule should be changed.
                  required: true
                  style: simple
                  schema:
                      $ref: '#/components/schemas/VesselID'
                - name: date
                  in: path
                  description: Time at which the change was made. Can be formatted without colons and dashes.
                  required: true
                  style: simple
                  schema:
                      type: string
                      format: date-time
                      # ISO 8601 RegEx excluding timezone
                      pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                      example: 2022-05-11T16:32:35Z
            responses:
                '200':
                    description: ''
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ScheduleChange'
                            example:
                                vessel: 30
                                date: 2022-05-11T16:32:35Z
                                old:
                                    type: manual
                                new:
                                    type: automatic
                                reason: Turn on automatic scheduling
        delete:
            tags:
                - Changes
            summary: Delete a Schedule's Change
            description: Changes about a Schedule's information.
            operationId: DeleteaSchedule'sChange
            parameters:
                -   name: vessel_id
                    in: path
                    description: ID of the Vessel.
                    required: true
                    style: simple
                    schema:
                        $ref: '#/components/schemas/VesselID'
                -   name: date
                    in: path
                    description: Time at which the change was made. Can be formatted without colons and dashes.
                    required: true
                    style: simple
                    schema:
                        type: string
                        format: date-time
                        # ISO 8601 RegEx excluding timezone
                        pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                        example: 2022-05-11T16:32:35Z
            responses:
                '204':
                    description: ''
                    headers: { }
                    content: { }
                '404':
                    description: ''
                    headers: { }
                    content: { }
components:
    schemas:
        Schedule:
            title: Schedule
            type: object
            properties:
                vessel:
                    $ref: '#/components/schemas/VesselID'
                type:
                    type: string
                    enum: [ automatic, manual ]
                berth:
                    $ref: '#/components/schemas/BerthID'
                start:
                    type: string
                    format: date-time
                    # ISO 8601 RegEx excluding timezone
                    pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                end:
                    type: string
                    format: date-time
                    # ISO 8601 RegEx excluding timezone
                    pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
            additionalProperties: false
            required:
                - vessel
                - type
                - berth
                - start
                - end
            example:
                vessel: 1
                type: manual
                berth: 30
                start: 2022-05-11T16:32:00Z
                end: 2022-05-11T21:26:00Z
        BerthSchedules:
            title: Berth Schedules
            type: array
            items:
                $ref: '#/components/schemas/Schedule'
            maxItems: 2147483647
            uniqueItems: true
            example:
                -   'vessel': 1
                    'type': 'manual'
                    'berth': 30
                    'start': '2022-05-11T16:32:00Z'
                    'end': '2022-05-11T21:26:00Z'
                -   'vessel': 2
                    'type': 'automatic'
                    'berth': 30
                    'start': '2022-05-14T09:21:00Z'
                    'end': '2022-05-15T13:53:00Z'
        TerminalSchedules:
            title: Terminal Schedules
            type: object
            additionalProperties:
                $ref: '#/components/schemas/BerthSchedules'
            example:
                '30':
                    -   'vessel': 1
                        'type': 'manual'
                        'berth': 30
                        'start': '2022-05-11T16:32:00Z'
                        'end': '2022-05-11T21:26:00Z'
                    -   'vessel': 2
                        'type': 'automatic'
                        'berth': 30
                        'start': '2022-05-14T09:21:00Z'
                        'end': '2022-05-15T13:53:00Z'
        PortSchedules:
            title: Port Schedules
            type: object
            additionalProperties:
                $ref: '#/components/schemas/TerminalSchedules'
            example:
                '1':
                    '30':
                        -   'vessel': 1
                            'type': 'manual'
                            'berth': 30
                            'start': '2022-05-11T16:32:00Z'
                            'end': '2022-05-11T21:26:00Z'
                        -   'vessel': 2
                            'type': 'automatic'
                            'berth': 30
                            'start': '2022-05-14T09:21:00Z'
                            'end': '2022-05-15T13:53:00Z'
        Performance:
            title: Performance
            type: object
            properties:
                cost:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
                scheduled_vessels:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
                unscheduled_vessels:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
            additionalProperties: false
            required:
                - cost
                - scheduled_vessels
                - unscheduled_vessels
            example:
                cost: 5152
                scheduled_vessels: 27
                unscheduled_vessels: 14
        OptionalDimension:
            title: Optional Dimension
            type: object
            properties:
                length:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
                width:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
                depth:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
            additionalProperties: false
            example:
                length: 30
                width: 10
                depth: 30
        Dimension:
            title: Dimension
            type: object
            properties:
                length:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
                width:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
                depth:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
            additionalProperties: false
            required:
                - length
                - width
                - depth
            example:
                length: 30
                width: 10
                depth: 30
        VesselID:
            title: Vessel ID
            type: integer
            format: int32
            minimum: 1
            maximum: 2147483647
            example: 1
        OptionalVessel:
            title: Vessel
            type: object
            properties:
                name:
                    type: string
                    # Capture everything of length 1 or longer
                    pattern: '^(?:.|\s)+$'
                    maxLength: 64
                arrival:
                    type: string
                    format: date-time
                    # ISO 8601 RegEx excluding timezone
                    pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                deadline:
                    type: string
                    format: date-time
                    # ISO 8601 RegEx excluding timezone
                    pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                container_amount:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
                cost:
                    type: number
                    format: real
                destination_terminal:
                    $ref: '#/components/schemas/TerminalID'
                dimension:
                    $ref: '#/components/schemas/OptionalDimension'
            additionalProperties: false
            example:
                name: New Vessel 1
                container_amount: 40
        Vessel:
            title: Vessel
            type: object
            properties:
                name:
                    type: string
                    # Capture everything of length 1 or longer
                    pattern: '^(?:.|\s)+$'
                    maxLength: 64
                arrival:
                    type: string
                    format: date-time
                    # ISO 8601 RegEx excluding timezone
                    pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                deadline:
                    type: string
                    format: date-time
                    # ISO 8601 RegEx excluding timezone
                    pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                container_amount:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 2147483647
                cost:
                    type: number
                destination_terminal:
                    $ref: '#/components/schemas/TerminalID'
                dimension:
                    $ref: '#/components/schemas/Dimension'
            additionalProperties: false
            required:
                - name
                - arrival
                - deadline
                - container_amount
                - cost
                - destination_terminal
                - dimension
            example:
                name: Vessel 1
                arrival: 2022-05-11T13:56:00Z
                deadline: 2022-05-12T18:13:00Z
                container_amount: 30
                cost: 2.6
                destination_terminal: 4
                dimension:
                    length: 30
                    width: 10
                    depth: 30
        BerthID:
            title: Berth ID
            type: integer
            format: int32
            minimum: 1
            maximum: 2147483647
            example: 1
        Berth:
            title: Berth
            type: object
            properties:
                open_time:
                    type: string
                    format: time
                    pattern: '^([0-1]?[0-9]|2[0-3]):?[0-5][0-9]$'
                close_time:
                    type: string
                    format: time
                    pattern: '^([0-1]?[0-9]|2[0-3]):?[0-5][0-9]$'
                unload_speed:
                    type: number
                    format: real
                    minimum: 0
                    maximum: 1E+37
                dimension:
                    $ref: '#/components/schemas/Dimension'
            additionalProperties: false
            required:
                - open_time
                - close_time
                - unload_speed
                - dimension
            example:
                open_time: 06:45
                close_time: 21:30
                unload_speed: 6.3
                dimension:
                    length: 150
                    width: 30
                    depth: 50
        BerthMap:
            title: Berth Map
            type: object
            additionalProperties:
                $ref: '#/components/schemas/Berth'
            example:
                '1':
                    open_time: 06:45
                    close_time: 21:30
                    unload_speed: 6.3
                    dimension:
                        length: 150
                        width: 30
                        depth: 50
                '2':
                    open_time: 08:30
                    close_time: 19:15
                    unload_speed: 2.7
                    dimension:
                        length: 60
                        width: 20
                        depth: 30
        TerminalID:
            title: Terminal ID
            type: integer
            format: int32
            minimum: 1
            maximum: 2147483647
            example: 1
        Terminal:
            title: Terminal
            type: object
            properties:
                name:
                    type: string
                    # Capture everything of length 1 or longer
                    pattern: '^(?:.|\s)+$'
                    maxLength: 64
            additionalProperties: false
            required:
                - name
            example:
                name: Han & Co. Ltd.
        TerminalMap:
            title: Terminal Map
            type: object
            additionalProperties:
                $ref: '#/components/schemas/Terminal'
            example:
                '1':
                    name: Han & Co. Ltd.
                '2':
                    name: Bui Buoys
        PortID:
            title: Port ID
            type: integer
            format: int32
            minimum: 1
            maximum: 2147483647
            example: 1
        Port:
            title: Port
            type: object
            properties:
                name:
                    type: string
                    # Capture everything of length 1 or longer
                    pattern: '^(?:.|\s)+$'
                    maxLength: 64
            additionalProperties: false
            required:
                - name
            example:
                name: Han Shipping
        PortMap:
            title: Port Map
            type: object
            additionalProperties:
                $ref: '#/components/schemas/Port'
            example:
                '1':
                    name: Han Shipping
                '2':
                    name: Thai Transport
        OptionalSchedule:
            title: Optional Schedule
            type: object
            properties:
                vessel:
                    $ref: '#/components/schemas/VesselID'
                type:
                    type: string
                    enum: [ automatic, manual ]
                berth:
                    $ref: '#/components/schemas/BerthID'
                start:
                    type: string
                    format: date-time
                    # ISO 8601 RegEx excluding timezone
                    pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                end:
                    type: string
                    format: date-time
                    # ISO 8601 RegEx excluding timezone
                    pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
            additionalProperties: false
            example:
                type: automatic
        NewVesselChange:
            title: New Vessel Change
            type: object
            properties:
                date:
                    type: string
                    format: date-time
                    # ISO 8601 RegEx excluding timezone
                    pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                changes:
                    $ref: '#/components/schemas/OptionalVessel'
                reason:
                    type: string
                    # Capture everything of length 0 or longer
                    pattern: '^(?:.|\s)*$'
                    nullable: true
            additionalProperties: false
            required:
                - date
                - changes
                - reason
            example:
                date: 2022-05-11T16:32:35Z
                changes:
                    name: New Vessel 1
                    container_amount: 40
                reason: Additional cargo (#2524)
        VesselChange:
            title: Vessel Change
            type: object
            properties:
                vessel:
                    $ref: '#/components/schemas/VesselID'
                date:
                    type: string
                    format: date-time
                    # ISO 8601 RegEx excluding timezone
                    pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                old:
                    $ref: '#/components/schemas/OptionalVessel'
                new:
                    $ref: '#/components/schemas/OptionalVessel'
                reason:
                    type: string
                    # Capture everything of length 0 or longer
                    pattern: '^(?:.|\s)*$'
                    nullable: true
            additionalProperties: false
            required:
                - vessel
                - date
                - old
                - new
                - reason
            example:
                vessel: 30
                date: 2022-05-11T16:32:35Z
                old:
                    name: Vessel 1
                    container_amount: 30
                new:
                    name: New Vessel 1
                    container_amount: 40
                reason: Additional cargo (#2524)
        VesselChanges:
            title: Vessel Changes
            type: array
            items:
                $ref: '#/components/schemas/VesselChange'
            maxItems: 2147483647
            example:
                -   vessel: 30
                    date: 2022-05-11T16:32:35Z
                    old:
                        name: Vessel 1
                        container_amount: 30
                    new:
                        name: New Vessel 1
                        container_amount: 40
                    reason: Additional cargo (#2524)
                -   vessel: 30
                    date: 2022-05-11T21:26:24Z
                    old:
                        arrival: 2022-05-11T13:56:00Z
                        deadline: 2022-05-12T18:13:00Z
                    new:
                        arrival: 2022-05-18T13:56:00Z
                        deadline: 2022-05-19T18:13:00Z
                    reason: Ship delayed (#3517)
        VesselChangesMap:
            title: Vessel Changes Map
            type: object
            additionalProperties:
                $ref: '#/components/schemas/VesselChanges'
            example:
                '30':
                    -   vessel: 30
                        date: 2022-05-11T16:32:35Z
                        old:
                            name: Vessel 1
                            container_amount: 30
                        new:
                            name: New Vessel 1
                            container_amount: 40
                        reason: Additional cargo (#2524)
                    -   vessel: 30
                        date: 2022-05-11T21:26:24Z
                        old:
                            arrival: 2022-05-11T13:56:00Z
                            deadline: 2022-05-12T18:13:00Z
                        new:
                            arrival: 2022-05-18T13:56:00Z
                            deadline: 2022-05-19T18:13:00Z
                        reason: Ship delayed (#3517)
        NewScheduleChange:
            title: New Schedule Change
            type: object
            properties:
                date:
                    type: string
                    format: date-time
                    # ISO 8601 RegEx excluding timezone
                    pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                changes:
                    $ref: '#/components/schemas/OptionalSchedule'
                reason:
                    type: string
                    # Capture everything of length 0 or longer
                    pattern: '^(?:.|\s)*$'
                    nullable: true
            additionalProperties: false
            required:
                - date
                - changes
                - reason
            example:
                date: 2022-05-11T16:32:35Z
                changes:
                    type: automatic
                reason: Turn on automatic scheduling
        ScheduleChange:
            title: Schedule Change
            type: object
            properties:
                vessel:
                    $ref: '#/components/schemas/VesselID'
                date:
                    type: string
                    format: date-time
                    # ISO 8601 RegEx excluding timezone
                    pattern: '^(-?[0-9]+)-?(1[0-2]|0[1-9])-?(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):?([0-5][0-9]):?([0-5][0-9])Z$'
                old:
                    $ref: '#/components/schemas/OptionalSchedule'
                new:
                    $ref: '#/components/schemas/OptionalSchedule'
                reason:
                    type: string
                    # Capture everything of length 0 or longer
                    pattern: '^(?:.|\s)*$'
                    nullable: true
            additionalProperties: false
            required:
                - vessel
                - date
                - old
                - new
                - reason
            example:
                vessel: 30
                date: 2022-05-11T16:32:35Z
                old:
                    type: manual
                new:
                    type: automatic
                reason: Turn on automatic scheduling
tags:
    - name: Vessels
      description: ''
    - name: Berths
      description: ''
    - name: Terminals
      description: ''
    - name: Ports
      description: ''
    - name: Changes
      description: ''
